<h2>Author: <span>Artsiom Zbarouski</span></h2>

<div class="author-summary">
  3,5+ years of professional experience.<br />
  Core skills: Angular, RxJs, TypeScript, JavaScript<br />
  English - Upper-intermediate B2 
  
  <ul class="author-summary__list">
    <li>Experience with Angular ecosystem</li>
    <li>RxJS, Angular-Material, DI, PrimeNg, NgRx</li>
    <li>Experienced with Webpack, Google Maps API, Hubspot, Galp, JavaScript frameworks, and libraries </li>
    <li>Deep understanding of software development processes, including software design, implementation, and releases</li>
    <li>Strong analytical and problem-solving skills</li>
    <li>Mentoring less experienced developers and interns. - Experienced in working and collaborating in multicultural teams</li>
  </ul>
</div>

<div class="author-info">
  <a href="mailto:artem.zborovsky2@gmail.com" target="_blank">
    artem.zborovsky2@gmail.com
  </a>
  <a href="tel:+48791208434">
    +48791208434
  </a>
  <a href="https://www.linkedin.com/in/artyomzborovsky/" target="_blank">
    linkedin.com
  </a>
</div>

<button mat-button mat-dialog-close class="btn-main author-button">Close</button>
