// background

$background-primary: rgb(27, 27, 59);
$background-secondary: rgb(27, 27, 59);
$background-hover: #ef7d7d;
$background-item: rgb(221 221 221);

// text

$color-primary: #ffffff;
$color-secondary: #000000;
$color-hover: #ef7d7d;
